= render '/welcome/navbar'
.container
	.col.s12.m6
		.card.hoverable.z-depth-4
			.card-content
				%h3.center-align Ingreso nuevo registro

				= render 'form'
			.card-action.center-align
				= link_to 'Regrear menú principal', root_path, class: "btn waves-effect"
