<nav>
    <div class="nav-wrapper">
      <%= image_tag "logo.png", width:"75" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Iniciar Sesión", new_user_session_path, class: "waves-effect waves-light btn-large" do %></li>
      </ul>
    </div>
</nav>