= render 'navbar'
	
.row
	.col.s12
		.card.large.fondo
			.card-action.center
				=link_to new_user_session_path, class: "waves-effect waves-teal btn-large" do
					<i class="medium material-icons right">perm_identity</i>Inicar sesion